
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />  
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<!--Begin Web_Stats -->
<script type="text/javascript">
  var userip;
  var date = new Date().getTime();
  var vardate = "&field3=";
  var findate = vardate.concat(date);
</script>
<script type="text/javascript" src="https://l2.io/ip.js?var=userip"></script>

<title>Westchester Putnam One-Stop Training Provider</title>
</head>
<body>
<div class="container" style="">
<div class="row">
<div class="col-lg-6" >
<a href="/"><img src="https://www.westchesterputnamonestop.com/images/logo.png" width="370px" style="margin-left:-18px;padding-top:11px;padding-left:5px;"></a>
</div>
<div  align="right" class="col-lg-6" style="margin-top:8px; "> <!-- pqp4 changed position from absolute -->
                                  <a href="/providers_login" class="btn" style="background-color: #FE9A2E; color:#fff;">Providers Login</a>
               </div>

</div>
<hr style="outline: #eeeeee solid thin;">
<div class="row" >
   <div class="col-lg-10">
	<div class="maincontent">
<div class="message">
<div id="system-message-container">
<div id="system-message"> </div>
</div>
</div>
<div class="item-page">
<div class="page-header">
<h2>
<a href="/providers"> Apply to be a Training Provider</a>
</h2>
</div>
<div class="btn-group pull-right">
<a class="btn dropdown-toggle" href="#" data-toggle="dropdown">
<span class="icon-cog"></span>
<span class="caret"></span>
</a>
<ul class="dropdown-menu actions">
<li class="print-icon">
<a rel="nofollow" onclick="window.open(this.href,'win2','status=no,toolbar=no,scrollbars=yes,titlebar=no,menubar=no,resizable=yes,width=640,height=480,directories=no,location=no'); return false;" title="Print" href="/onestopcms/providers?tmpl=component&print=1&page=">
<span class="icon-print"></span>
 Print 
</a>
</li>
<li class="email-icon">
<a onclick="window.open(this.href,'win2','width=400,height=350,menubar=yes,resizable=yes'); return false;" title="Email" href="/component/mailto/?tmpl=component&template=joomlage0071-simplex&link=3e6fcf92734cf5584ccf98909f4a7d257b573fc8">
<span class="icon-envelope"></span>
Email
</a>
</li>
</ul>
</div>
<div class="article-info muted">
<dl class="article-info">
<dt class="article-info-term">Details</dt>
<dd class="published">
<span class="icon-calendar"></span>
Last Updated: 04 September 2015
</dd>
</dl>
</div>
<p>The New York State Eligible Training Provider List (NYS-ETPL) was established in compliance with Title 1 of the Workforce Innovation and Opportunity Act (WIOA) of 2014. The purpose of the ETPL is to present a broad and diverse selection of training choices to support employment goals of individuals by helping businesses fund on the job training. To become a Westchester-Putnam Workforce Development Board (WPWDB) Eligible Trainer Provider does not have to be challenging or intimidating. You are required to have an executed contract with Westchester County. You can apply to become an approved training provider and begin the contract process by completing the following steps.</p>
<p>Applying to become an approved training provider is a three-step process:</p>
<p>
<strong>Step 1</strong>
:
<strong>
Create your profile on the
<a class="XOLink" target="_blank" href="/ETPL/TrainingProvider.faces">NYS Department of Labor Website</a>
<br>
</strong>
Inclusion on the NYS-ETPL, in itself, does not guarantee that WIA funds are available for enrollment in an eligible offering. Before continuing to the Training Provider area, please be sure to complete this step.
</p>
<p>
<strong>Step 2:</strong>
<strong><a title="Link opens a new window" href="providers/providers_reg">Create your profile on the Westchester-Putnam system</a></strong>
<br>
<span>
If you are a training provider in the Westchester area and are listed on the NYS-ETPL,
<span>
<a title="Link opens a new window" href="/providers/providers_reg"> create your profile</a>
on the Westchester-Putnam One-Stop (WPOS) Eligible Trainer Provider Profile system. If you already have created your WPOS Eligible Trainer Provider Profile,
<body link="red">
<a class="XOLink" color="red"; href="/providers_login">sign in</a>
</body>
<span>to manage your course offerings.</span>
</span>
</span>
</p>
<p>
<strong>Step 3: Submit your request to enter into a contract agreement</strong>
<br>
Submit copy of your certificate of incorporation, W-9 and the Responsibility Questionnaire. These documents can be sent by e-mail to
<a href="mailto:att1@westchestergov.com">att1@westchestergov.com</a>
<script type="text/javascript">
<!--
//document.write('<span style=\'display: none;\'>');
//-->
</script>
<span style="display: none;">
This email address is being protected from spambots. You need JavaScript enabled to view it.
<script type="text/javascript">
<!--
//document.write('</');
//document.write('span>');
//-->
</script>
</span>
</p>
<p><a title="Link opens pdf file in a new window" href="https://www.westchesterputnamonestop.com/images/pdfs/createTrainingProviderProfile.pdf" target="_blank">Download instructions</a> on how to create or edit your profile and update course offerings.</p>
</div>
</div>
		 
</div>			
<div class="col-lg-2"  >
<style>
    .XOQuickLink{
        color:#fff;
    }    
</style>
<div style="background-color: #C8C8C8; outline: #C8C8C8 solid 10px; padding:8px;">
<h4 style="color: #fff;">QUICK LINKS</h4>
<a class="XOQuickLink" href="/about "><span class="xoSmall">&raquo;</span> What Is One-Stop?</a><br>
<a class="XOQuickLink" href="/login_form.php?user=Job Seeker&&redirect=/upload_resume/upload.php?id=a "><span class="xoSmall">&raquo;</span> Post a Resume</a><br>
<a class="XOQuickLink" href="/login_form.php?user=Employer "><span class="xoSmall">&raquo;</span> Post a Job</a><br>
<a class="XOQuickLink" href="/workshop/"><span class="xoSmall">&raquo;</span> Workshops & Training</a><br>
<a class="XOQuickLink" href="/index.php/about/links-resources"><span class="xoSmall">&raquo;</span> Links & Resources</a><br>
<!--<a class="XOQuickLink" href="/index.php/about/faqs "><span class="xoSmall">&raquo;</span> FAQ's </a><br>-->
<a class="XOQuickLink" href="/index.php/about/contact-us "><span class="xoSmall">&raquo;</span> Contact Us </a>              
</div>
<br>
<br> <div style="outline: #f6f7f9 solid 10px; padding:5px;">
<form action="/job-seeker/index.php?pid=5&user=Job Seeker" method="post">
    <h4>Search</h4>
     Enter Keywords:
     <input type="text" style="width:125px;" class="xoText" name="q" value="">
     Select Sector
     <select style="width:120px;" class="xoText" name="s" >
        <option value="0">All sectors</option>
                        <option value="1" >Green</option>

                         <option value="2" >Healthcare</option>

                         <option value="3" >Hospitality</option>

                         <option value="4" >Professional Services</option>

                         <option value="5" >Biotech</option>

                         <option value="6" >Not For Profit</option>

                         <option value="7" >Manufacturing</option>

                         <option value="8" >Other</option>

         
    </select><br><br>
     <input type="submit" class="btn" value="Search Jobs" style="background-color: #91aed5;">
</form>	
</div>
<br><br></div> 
</div>
</div>
</body>
</html>





