<!DOCTYPE html>
<html>
  <head>
    <title>AgeGroup</title>
  </head>
  <body>
  {% block body %}
        {% from "includes/_formhelpers.html" import render_field %}
    <form  method="post">
        <div>
            {{render_field(form.jobcenter)}}
                </div>
        <div>
            {{render_field(form.dob)}}
                </div>
        <div>
            {{render_field(form.school)}}
            </div>
        <div>
            {{render_field(form.unemployed)}}
                </div>
        <div>
            {{render_field(form.resident)}}
                </div>
        <div>
            {{render_field(form.healthcare)}}
                </div>
        <div>
            {{render_field(form.firstname)}}
            </div>
        <div>
            {{render_field(form.lastname)}}
            </div>
        <div>
            {{render_field(form.address1)}}
            </div>
        <div>
            {{render_field(form.address2)}}
            </div>
        <div>
            {{render_field(form.city)}}
            </div>
        <div>
            {{render_field(form.state)}}
            </div>
        <div>
            {{render_field(form.country)}}
            </div>
        <div>
            {{render_field(form.zip)}}
            </div>
        <div>
            {{render_field(form.phone)}}
            </div>
        <div>
            {{render_field(form.phone2)}}
            </div>
        <div>
            {{render_field(form.agency)}}
            </div>
        <div>
            {{render_field(form.entity)}}
            </div>
        <div>
            {{render_field(form.onestopcode)}}
            </div>
        <div>
            {{render_field(form.preferredtime)}}
            </div>
        <div>
            {{render_field(form.salaryexpected)}}
            </div>
        <div>
            </div>
        <div>
            {{render_field(form.email)}}
            </div>
        <div>
            {{render_field(form.password)}}
            </div>
        <div>
            {{render_field(form.confirm)}}
            </div>
        <div>
            {{render_field(form.securityquestion1)}}
            </div>
        <div>
            {{render_field(form.securityanswer1)}}
            </div>
        <div>
            {{render_field(form.securityquestion2)}}
            </div>
        <div>
            {{render_field(form.securityanswer2)}}
            </div>
        <div><input type="submit" class="btn-post" value="Register"></div>
    </form>
  {% endblock %}
  </body>
</html>
