<!DOCTYPE html>
<html>
   <head>
      <title>view_resumes</title>
      <script type="text/javascript">
         function do_ajax() {
           var req = new XMLHttpRequest();
           var keyword = document.getElementById('keyword');
           req.onreadystatechange = function()
           {
             if(this.readyState == 4 && this.status == 200) {
               result.innerHTML = this.responseText;
             } else {
               result.innerHTML = "waiting...";
             }
           }
           req.open('POST', '/search_resume' , true);
           req.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
           req.send("selectedkeyword="+  document.getElementById('keyword').value+ "&"+ "Allsectors"+ document.getElementById('Allsectors').value);
          
         }
      </script>
      <style>
      </style>
   </head>
   <body>
      <div class="row" >
         <div class="col-lg-10">
            <p>&nbsp;</p>
            <p class="xoSmall"><a href="http://216.32.220.157:203/" class="xoLink">Home</a>&raquo; <a href="/login?user=employer" class="xoLink">Employer</a> &raquo; Search Resumes</p>
            <p class="xoBig">
            <h2>Search Resumes</h2>
            </p>
            <p>
            <table cellspacing="0" cellpadding="3" border="0" class="xoSmall">
               <tbody>
                  <tr>
                     <form action="{{url_for('resume_keyword',page=1)}}" method="post">
                        <td><input type="text" style="width:200;height:24;" value="{{key}}"class="xoText" name="keyword"><br>Keywords</td>
                        <td>
                           <select name="allsectors" style="width:200;height:24;" class="xoText" value="{{sec}}">
                              <option value="Allsectors">Allsectors</option>
                              {% for row in data %}
                                {% if row==sec %}
                                  <option value="{{row}}" selected> {{ row }}</option>
                                {% else %}
                                  <option value="{{row}}"> {{ row }}</option>
                                {% endif %}                              
                              {% endfor %} 
                           </select>
                           <br>Sector
                        </td>
                        <td><input width="116" type="image" height="33" border="0" alt="" src="https://www.westchesterputnamonestop.com/images/searchresumes.png"><br>&nbsp;</td>
                     </form>
                  </tr>
               </tbody>
            </table>
            </p>
            </td>
            </form>
            <p>ALL SECTOR RESUMES.</p>
            <!-- -->
            <!-- -->
         </div>
      </div>
      <table border="0" cellpadding="3" cellspacing="0" class="xoText" width="100%">
         <tr style="font-weight:bold;">
            <td style="font-weight:bold;">Sectors</td>
            <td style="font-weight:bold;">Location &nbsp;</td>
            <td style="font-weight:bold;">Last Resume Update</td>
            <td>&nbsp;</td>
         </tr>
         {% for a in a %}
         <tr bgcolor='#EDEDED'>
            <td>{{a[0]}}</td>
            <td>{{a[1]}} {{a[2]}}</td>
            <td>{{a[3]}}</td>
            <td align='right' nowrap='nowrap'>
               <form action="/login" method="post" >
                  <input type="hidden" name="redirect" value="/login?user=employer">
                  <input type="hidden" name="user" value="Employer">
                  <input type="submit" value="[ Login To View ]" style="border:0px;background: none repeat; cursor: pointer; color:#648CBC">
                  <!-- -->
               </form>
         </tr>
         {% endfor %}
      </table>
      {% for n in range(lastpage) %}
          <a href={{url_for('resume_keyword_page',page=loop.index,key=key,sec=sec)}}>[{{loop.index}}]</a>    
      {% endfor %}
   </body>
</HTML>