
<!DOCTYPE html>
        <html>
          <head>
            <title>view_resumes</title>
            <script type="text/javascript">
              function do_ajax(page) {
                var req = new XMLHttpRequest();
                var keyword = document.getElementById('keyword');
                req.onreadystatechange = function()
                {
                  if(this.readyState == 4 && this.status == 200) {
                    result.innerHTML = this.responseText;
                  } else {
                    result.innerHTML = "waiting...";
                  }
                }

                req.open('POST', '/search_resume' , true);
                req.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
				req.send(page=page)
                req.send("selectedkeyword="+  document.getElementById('keyword').value+ "&"+ "allsectors"+ document.getElementById('allsectors').value);
               
         

}
            </script>
			
			<style>

ul {
    list-style-type: none;
    overflow: visible;
    background-color: #111111;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: left;
    padding: 20px;
    text-decoration: circle;
}

li a:hover {
    background-color: blue;
}

</style>
			
          </head>
<body>
<div class="row" >
<div class="col-lg-10">

 	 <p>&nbsp;</p>
<p class="xoSmall"><a href="http://216.32.220.157:203/" class="xoLink">Home</a>&raquo; <a href="/login?user=employer" class="xoLink">Employer</a> &raquo; Search Resumes</p>
<p class="xoBig"><h2>Search Resumes</h2></p>
<p><table cellspacing="0" cellpadding="3" border="0" class="xoSmall"><tbody><tr>

	
<form action="{{url_for('view_resume_keyword')}}" method="post">


<td><input type="text" style="width:200;height:24;" value="{{keyword}}"class="xoText" name="keyword"><br>Keywords</td>
		<td><select name="allsectors" style="width:200;height:24;" class="xoText" >
                      
	<option selected="allsectors">Allsectors</option>
	
	
	{% for row in data %}
	
	<option value="{{row }}"> {{ row }}</option>
	
	
	{% endfor %} 
                         		</select><br>Sector</td>
		<td><input width="116" type="image" height="33" border="0" alt="" src="https://www.westchesterputnamonestop.com/images/searchresumes.png"><br>&nbsp;</td>
	</form>
	</tr></tbody></table></p>
	
	
	
	
	

	


 </td>
</form>

{{ pagination.links }}	


  <table border="0" cellpadding="3" cellspacing="0" class="xoText" width="100%">
   
   <tr style="font-weight:bold;"><td style="font-weight:bold;">Sectors</td><td style="font-weight:bold;">Location &nbsp;</td><td style="font-weight:bold;">Last Resume Update</td><td>&nbsp;</td></tr>
  {% for a in a %}

                        <tr bgcolor='#EDEDED'><td>{{a[0]}}</td><td>{{a[1]}},{{a[2]}}</td><td>{{a[3]}}</td>
                               <td align='right' nowrap='nowrap'>

                            <form method="post" action="/login">
                                        <input type="hidden" name="redirect" value=" ">
                                        <input type="hidden" name="user" value=" ">
                                        <input type="submit" value="[ Login To View ]" style="border:0px;background: none repeat; cursor: pointer; color:#648CBC">

                                    </form>


                        </td>;
                        </tr>;



                        </tr>



    {% endfor %}
	

</table>

{{ pagination.links }}	


 <a onclick="do_ajax(1)">1</a>
<a onclick="do_ajax(2)">2</a>
<a onclick="do_ajax(3)">1</a>



</body>
</HTML>






