html base extends



<!DOCTYPE html>
        <html>
          <head>
            <title>emplogin</title>
<body>
			
			
			
		
<div style=" outline: #f6f7f9 solid 10px; padding:8px;">
    <form action="https://www.westchesterputnamonestop.com/employer/index.php?pid=21" method="post" name="login"> 
                                    	<input type="hidden" name="redirect" value=""/>
                                        <input type="hidden" name="authenticate" value="Employer"/>         
                                        <h4>Employer Login</h4>
										
                                        Email:
                                        <input type="text" style="width:125px;" class="xoText" name="Email"/>
                              
                                        Password:
                                        <input type="password" style="width:125px;" class="xoText" name="Password"/><br><br>
                                   
                                      <input class="btn" type="submit" value="Login" style="background-color: #b2bb1c; color:#fff;" ><br>
                                        &raquo; <a class="xoLink" href="https://www.westchesterputnamonestop.com/employer/index.php?pid=5">Forgot password?</a><br>
                                        &raquo; <a class="xoLink" href="https://www.westchesterputnamonestop.com/employer/index.php?pid=1">Create account</a>
        							</form>
                               
						
    						
					
</div>	<br></br>
			
			
			
			
			
</body>
</HTML>